.addTask {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;

    background: #E0E0E0;
    box-shadow: -5px 5px 7px rgba(202, 202, 202, 0.2), 5px -5px 7px rgba(202, 202, 202, 0.2), -5px -5px 7px rgba(246, 246, 246, 0.9), 5px 5px 9px rgba(202, 202, 202, 0.9), inset 1px 1px 2px rgba(246, 246, 246, 0.3), inset -1px -1px 2px rgba(202, 202, 202, 0.5);

    position: sticky;
    left: 100vw;
    bottom: 12vh;
    cursor: pointer;
    margin-right: 15px;
    margin-top: -10px;

    &:hover {
        background: #dedcdc;
    }
}

.addTask.demo {
    margin-right: 15px;
    margin-top: -37px;
}

.addTask-absolute {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;

    background: #E0E0E0;
    box-shadow: -5px 5px 7px rgba(202, 202, 202, 0.2), 5px -5px 7px rgba(202, 202, 202, 0.2), -5px -5px 7px rgba(246, 246, 246, 0.9), 5px 5px 9px rgba(202, 202, 202, 0.9), inset 1px 1px 2px rgba(246, 246, 246, 0.3), inset -1px -1px 2px rgba(202, 202, 202, 0.5);
    cursor: pointer;

    position: absolute;
    right: 20px;
    bottom: 16px;

    &:hover {
        background: #dbdada;
    }
}

.addTask-absolute.demo {
    bottom: 50px;
}

@media (max-width: 1399px) {
    .addTask {
        width: 65px;
        height: 65px;
        bottom: 17vh;
    }

    .addTask-absolute {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 1199px) {
    .addTask {
        width: 60px;
        height: 60px;
        bottom: 19vh;
    }

    .addTask-absolute.demo {
        bottom: 45px;
    }

    .addTask-absolute {
        width: 60px;
        height: 60px;
        right: 13px;
    }
}

@media (max-width: 991px) {
    .addTask {
        width: 56px;
        height: 56px;
        bottom: 20vh;
    }

    .addTask-absolute.demo {
        bottom: 55px;
    }

    .addTask-absolute {
        width: 56px;
        height: 56px;
        right: 10px;
    }
}

@media (max-width: 767px) {
    .addTask {
        width: 64px;
        height: 64px;
        bottom: 5vh;
    }
}

@media (max-width: 460px) {
    .addTask {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 415px) {
    .addTask {
        width: 55px;
        height: 55px;
    }
}

@media (max-height: 800px) {
    .addTask-absolute {
        right: 1px;
    }
    .addTask-absolute.demo {
        bottom: 2px;
    }
}

@media (max-height: 800px) {
    @media (max-width: 1199px) {
        .addTask-absolute {
            right: -8px;
        }
    }

    @media (max-width: 991px) {
        .addTask-absolute {
            right: -10px;
        }

        .addTask-absolute.demo {
            bottom: 32px;
        }
    }
}

.addTask__visibility {
    visibility: hidden;
}

.addTask__main {
    margin: 0;
}

:root {
    --transitionTimingFunction: ease;
    --transitionDuration: 0.2s;
}

.addTask__plus {
    position: relative;
    --size: 30px;
    --heightLine: 3.8px;
    --colorLine: #8A8383;
    --scale: 0.8;
    --backgroundColor: #E0E0E0;
    width: var(--size);
    height: var(--size);
    overflow: hidden;
    outline: none;
    user-select: none;

    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
    transition-property: background-color;
}

.addTask__plus::before,
.addTask__plus::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colorLine);
    width: calc(var(--scale) * 100%);
    height: var(--heightLine);
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
    transition-property: transform, background-color;
    border-radius: 40px;
}

@media (max-width: 1399px) {
    .addTask__plus {
        --size: 30px;
        --heightLine: 3.6px;
    }
}

@media (max-width: 1199px) {
    .addTask__plus {
        --size: 29px;
        --heightLine: 3.4px;
    }
}

@media (max-width: 991px) {
    .addTask__plus {
        --size: 27px;
        --heightLine: 3.2px;
    }
}

@media (max-width: 767px) {
    .addTask__plus {
        --size: 30px;
        --heightLine: 3.5px;
    }
}

@media (max-width: 460px) {
    .addTask__plus {
        --size: 28px;
        --heightLine: 3.4px;
    }
}

.addTask__plus::after {
    transform: translate(-50%, -50%) rotate(-90deg);
}
