.desk {
    height: auto;
    background: #E0E0E0;
    box-shadow: -7px 7px 14px rgba(197, 197, 197, 0.2), 7px -7px 14px rgba(197, 197, 197, 0.2), -7px -7px 14px rgba(251, 251, 251, 0.9), 7px 7px 18px rgba(197, 197, 197, 0.9), inset 1px 1px 2px rgba(251, 251, 251, 0.3), inset -1px -1px 2px rgba(197, 197, 197, 0.5);
    border-radius: 35px;
    min-height: 75vh;

    position: relative;
}

.margin {
    margin: 50px 10px 0;
    position: relative;
}

@media (max-width: 991px) {
    .margin {
        margin: 40px 10px 0;
    }
}

.block {
    padding: 25px 28px 16px 28px;
    position: relative;
}

@media (max-width: 1199px) {
    .block {
        padding: 20px 22px 10px 22px;
    }
}

@media (max-width: 991px) {
    .block {
        padding: 28px 16px 1px 16px;
    }
}

@media (max-width: 767px) {
    .block {
        padding: 25px 16px 5px 16px;
    }
}

@media (max-width: 460px) {
    .block {
        padding: 20px 16px 0 16px;
    }
}

.row-padding {
    padding: 0 28px;
    margin-bottom: 37px;
}


@media (max-width: 1399px) {
    .row-padding {
        padding: 0 22px;
    }
}


@media (max-width: 1199px) {
    .row-padding {
        padding: 0 20px;
    }
}


@media (max-width: 767px) {
    .row-padding {
        padding: 0 30px;
    }
}

@media (max-width: 460px) {
    .row-padding {
        padding: 0 22px;
    }
}

@media (max-width: 415px) {
    .row-padding {
        padding: 0 18px;
    }
}

@media (max-width: 355px) {
    .row-padding {
        padding: 0 16px;
    }
}

.block__name {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 45px;
    color: #8A8383;
}

.block__edit {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        .block__status_name {
            margin: 0px 10px 25px 0px;
        }

        @media (max-width: 1399px) {
            .block__status_name {
                margin: 0px 10px 21px 0px;
            }
        }
    }
}

.block__edit_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__plus {
    width: 20px;
    height: 20px;
    background-color: #80E095;
    margin-bottom: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: -0.5px 0.5px 1px rgba(110, 192, 128, 0.2), 0.5px -0.5px 1px rgba(110, 192, 128, 0.2), -0.5px -0.5px 1px rgba(134, 234, 156, 0.9), 0.5px 0.5px 2px rgba(110, 192, 128, 0.9), inset 0.5px 0.5px 1px rgba(134, 234, 156, 0.3), inset -0.5px -0.5px 1px rgba(110, 192, 128, 0.5);
}

@media (max-width: 1399px) {
    .block__plus {
        margin-bottom: 21px;
    }
}

@media (max-width: 991px) {
    .block__plus {
        width: 17px;
        height: 17px;
        margin-bottom: 17px;
    }
}

@media (max-width: 767px) {
    .block__plus {
        width: 19px;
        height: 19px;
        margin-bottom: 17px;
    }
}

@media (max-width: 460px) {
    .block__plus {
        margin-bottom: 10px;
    }
}

.block__plus.collapse {
    opacity: 0;
    transition: opacity 1s
}

.block__plus.visible {
    opacity: 1;
    transition: opacity 1s
}

.block__plus.left {
    margin-left: -5px;
}

.block__plus.right {
    margin-right: 1px;
}

.block__plus-line {
    position: relative;
    width: 10px;
    height: 2px;;
    background-color: #fff;
    border-radius: 3px;
  }

  .block__plus-line::before {
    content: "";
    position:absolute;
    background:#fff;

    left:50%;
    top:4px;
    bottom:4px;
    width:2px;
    transform:translateX(-50%);
  }
  
  .block__plus-line::after {
    content: "";
    position:absolute;
    background:#fff;

    top:50%;
    left:4px;
    right:4px;
    height:10px;
    transform:translateY(-50%);
  }

.block__minus {
    width: 20px;
    height: 20px;
    background-color: #F45252;
    margin: 0 5px 25px 0;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: -0.5px 0.5px 1px rgba(209, 70, 70, 0.2), 0.5px -0.5px 1px rgba(209, 70, 70, 0.2), -0.5px -0.5px 1px rgba(255, 86, 86, 0.9), 0.5px 0.5px 2px rgba(209, 70, 70, 0.9), inset 0.5px 0.5px 1px rgba(255, 86, 86, 0.3), inset -0.5px -0.5px 1px rgba(209, 70, 70, 0.5);
}

.block__minus.left {
    margin-left: 0 auto;
}

@media (max-width: 1399px) {
    .block__minus {
        width: 19px;
        height: 19px;
        margin-bottom: 21px;
    }
}

@media (max-width: 991px) {
    .block__minus {
        width: 17px;
        height: 17px;
        margin-bottom: 17px;
    }
}

@media (max-width: 767px) {
    .block__minus {
        width: 19px;
        height: 19px;
        margin-bottom: 17px;
    }
}

@media (max-width: 460px) {
    .block__minus {
        width: 19px;
        height: 19px;
        margin-bottom: 11px;
    }
}

.block__minus-line {
    width: 10px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
}

@media (max-width: 1399px) {
    .block__minus-line {
        width: 9px;
    }
}

@media (max-width: 991px) {
    .block__minus-line {
        width: 7px;
        height: 2.2px;
    }
}

@media (max-width: 767px) {
    .block__minus-line {
        width: 9px;
        height: 2.4px;
    }
}

/* ------------------------------------ */
.block__inner {
    min-width: 100%;
    height: 60vh;
    overflow: auto;
    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(244, 244, 244, 0.3), -1px -1px 2px rgba(204, 204, 204, 0.5), inset -6px 6px 12px rgba(204, 204, 204, 0.2), inset 6px -6px 12px rgba(204, 204, 204, 0.2), inset -6px -6px 12px rgba(244, 244, 244, 0.9), inset 6px 6px 15px rgba(204, 204, 204, 0.9);
    border-radius: 23px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden
}

.block__inner_todo {
    width: 100%;
    position: relative;

    background: #E0E0E0;
    box-shadow: -5px 5px 8px rgba(199, 199, 199, 0.2), 5px -5px 8px rgba(199, 199, 199, 0.2), -5px -5px 8px rgba(249, 249, 249, 0.9), 5px 5px 10px rgba(199, 199, 199, 0.9), inset 1px 1px 2px rgba(249, 249, 249, 0.3), inset -1px -1px 2px rgba(199, 199, 199, 0.5);
    border-radius: 20px;

    margin-bottom: 25px;
}

@media (max-width: 1399px) {
    .block__inner_todo {
        margin-bottom: 22px;
    }

    .block__inner { 
        padding: 22px;
    }
}

@media (max-width: 1199px) {
    .block__inner_todo {
        margin-bottom: 18px;
    }

    .block__inner { 
        padding: 18px;
    }
}

@media (max-width: 991px) {
    .block__inner_todo {
        margin-bottom: 14px;
        border-radius: 16px;
    }

    .block__inner { 
        padding: 13px;
    }
}

@media (max-width: 767px) {
    .block__inner_todo {
        margin-bottom: 18px;
    }

    .block__inner { 
        padding: 18px;
    }
}

@media (max-width: 390px) {
    .block__inner_todo {
        margin-bottom: 16px;
    }

    .block__inner { 
        padding: 16px;
    }
}

.block__inner-editPan {
    position: relative;
    height: 10px;
    width: 10px;

    margin-left: 91.5%;
    margin-top: 6px;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    padding: 4px;

    border-radius: 50%;
    background-color: #D9D9D9;
    box-shadow: -2px 2px 2px rgba(195, 195, 195, 0.2), 2px -2px 2px rgba(195, 195, 195, 0.2), -2px -2px 2px rgba(239, 239, 239, 0.9), 2px 2px 2.5px rgba(195, 195, 195, 0.9), inset 1px 1px 1px rgba(239, 239, 239, 0.3), inset -1px -1px 1px rgba(195, 195, 195, 0.5);
}

.block__collapse {
    opacity: 0;
    transition: opacity 0.2s
}

.block__visible {
    opacity: 1;
    transition: opacity 0.2s
}

@media (max-width: 1399px) {
    .block__inner-editPan {
        margin-left: 90.5%;
        margin-top: 5px;
    }
}

@media (max-width: 1199px) {
    .block__inner-editPan {
        margin-left: 88%;
        height: 9px;
        width: 9px;
    }
}

@media (max-width: 991px) {
    .block__inner-editPan {
        margin-left: 85%;
        height: 8px;
        width: 8px;
        margin-top: 8px;
        bottom: 4px;
    }
}

@media (max-width: 767px) {
    .block__inner-editPan {
        margin-left: 94%;
        height: 10px;
        width: 10px;
        margin-top: 8px;
        bottom: 4px;
    }
}

@media (max-width: 540px) {
    .block__inner-editPan {
        height: 9px;
        width: 9px;
        margin-left: 92.5%;
    }
}

@media (max-width: 460px) {
    .block__inner-editPan {
        margin-left: 91%;
        margin-top: 10px;
        bottom: 7px;
    }
}

@media (max-width: 415px) {
    .block__inner-editPan {
        margin-left: 90%;
    }
}

@media (max-width: 355px) {
    .block__inner-editPan {
        margin-left: 88%;
    }
}

.block__inner-editPan.active {
    visibility: hidden;
}

.block__inner-editPan-img {
    position: absolute;
    top: 4px;
    left: 5px;
    height: 9px;
    width: 9px;
}

@media (max-width: 1399px) {
    .block__inner-editPan-img {
        height: 8.5px;
        width: 8.5px;
    }
}

@media (max-width: 991px) {
    .block__inner-editPan-img {
        height: 7.6px;
        width: 7.6px;
        left: 4px;
    }
}

@media (max-width: 991px) {
    .block__inner-editPan-img {
        height: 9px;
        width: 9px;
        left: 5px;
    }
}

@media (max-width: 460px) {
    .block__inner-editPan-img {
        height: 8.5px;
        width: 8.5px;
        left: 5px;
    }
}

.block__inner_content {
    margin: -24px 0 0 1px;
}

@media (max-width: 1199px) {
    .block__inner_content {
        margin: -24px 0 0 1.1px;
    }
}
.task__content {
    display: flex;
}

.block__content {
    display: flex;
    margin: 15px 15px 14px 9px;
}

@media (max-width: 1399px) {
    .block__content {
        margin: 13px 13px 12px 13px;
    }
}

@media (max-width: 991px) {
    .block__content {
        margin: 10px 10px 9px 10px;
    }
}

@media (max-width: 767px) {
    .block__content {
        margin: 13px 13px 12px 13px;
    }
}

@media (max-width: 460px) {
    .block__content {
        margin: 12px 12px 11px 12px;
    }
}

@media (max-width: 1199px) {
    .block__content.editMode {
        margin: 9px;
    }
}

@media (max-width: 991px) {
    .block__content.editMode {
        margin: 3px;
    }
}

@media (max-width: 767px) {
    .block__content.editMode {
        margin: 9px;
    }
}

.block__content.editMode {
    padding: 7px;
}

.block__content_text_area {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.block__content_text_area.editMode {
    width: 100%;
    height: 100%;
    padding-right: 0px;
}

.block__content_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    word-break: break-all;
    width: 95.1%;
    color: #8A8383;
}

@media (max-width: 1399px) {
    .block__content_text {
        font-size: 16px;
        width: 94.8%;
    }
}

@media (max-width: 1199px) {
    .block__content_text {
        width: 94%;
    }
}

@media (max-width: 991px) {
    .block__content_text {
        font-size: 15px;
        line-height: 1.5;
        width: 93.5%;
    }
}

@media (max-width: 767px) {
    .block__content_text {
        font-size: 17px;
        line-height: none;
        width: 96.5%;
    }
}

@media (max-width: 460px) {
    .block__content_text {
        font-size: 16.5px;
        line-height: none;
        width: 96%;
    }
}

.block__content_input {
    height: auto;
    width: 100%;

    overflow: hidden;
    background-color: #E0E0E0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #8A8383;
    padding: 5px 6px;

    word-break: break-all;
    overflow-y: hidden;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

@media (max-width: 1399px) {
    .block__content_input {
        font-size: 16px;
    }
}

@media (max-width: 460px) {
    .block__content_input {
        font-size: 17px;
    }
}

.block__content_input.editMode {
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(246, 246, 246, 0.3), -1px -1px 2px rgba(202, 202, 202, 0.5), inset -5px 5px 10px rgba(202, 202, 202, 0.2), inset 5px -5px 10px rgba(202, 202, 202, 0.2), inset -5px -5px 10px rgba(246, 246, 246, 0.9), inset 5px 5px 13px rgba(202, 202, 202, 0.9);
}

.pre_pretty__line {
    height: 100%;
}

.pretty__line {
    width: 4.9%;
    min-height: 24px;
    margin-right: 7px;
    border-radius: 20.5px;
}

.pretty__line.active {
    opacity: 0;
    transition: opacity 3s;
    display: none;
}

@media (max-width: 1399px) {
    .pretty__line {
        width: 5.2%;
    }
}

@media (max-width: 1199px) {
    .pretty__line {
        width: 6%;
    }
}

@media (max-width: 991px) {
    .pretty__line {
        width: 6.5%;
        margin: 3px 5px 3px 0;
    }
}

@media (max-width: 767px) {
    .pretty__line {
        width: 3.5%;
        margin: 0 7px 0 0;
    }
}

@media (max-width: 460px) {
    .pretty__line {
        width: 4%;
        margin: 0 6px 0 0;
    }
}

.pretty__line.red {
    background: #F98B8B;
    box-shadow: 1px 1px 2px rgba(255, 153, 153, 0.3), -1px -1px 2px rgba(224, 125, 125, 0.5), inset -5px 5px 10px rgba(224, 125, 125, 0.2), inset 5px -5px 10px rgba(224, 125, 125, 0.2), inset -5px -5px 10px rgba(255, 153, 153, 0.9), inset 5px 5px 13px rgba(224, 125, 125, 0.9);
}

.pretty__line.purple {
    background: #DC8BF9;
    box-shadow: 1px 1px 2px rgba(242, 153, 255, 0.3), -1px -1px 2px rgba(198, 125, 224, 0.5), inset -5px 5px 10px rgba(198, 125, 224, 0.2), inset 5px -5px 10px rgba(198, 125, 224, 0.2), inset -5px -5px 10px rgba(242, 153, 255, 0.9), inset 5px 5px 13px rgba(198, 125, 224, 0.9);
}

.pretty__line.green {
    background: #74CB87;
    box-shadow: 1px 1px 2px rgba(128, 223, 149, 0.3), -1px -1px 2px rgba(104, 183, 122, 0.5), inset -5px 5px 10px rgba(104, 183, 122, 0.2), inset 5px -5px 10px rgba(104, 183, 122, 0.2), inset -5px -5px 10px rgba(128, 223, 149, 0.9), inset 5px 5px 13px rgba(104, 183, 122, 0.9);
}

.pretty__line.blue {
    background: #7F7DE1;
    box-shadow: 1px 1px 2px rgba(121, 119, 213, 0.2), -1px -1px 2px rgba(121, 119, 213, 0.2), inset -5px 5px 10px rgba(147, 145, 255, 0.9), inset 5px -5px 10px rgba(121, 119, 213, 0.9), inset -5px -5px 10px rgba(147, 145, 255, 0.3), inset 5px 5px 13px rgba(121, 119, 213, 0.5);
}

.pretty__line.lightblue {
    background: #7DB7E1;
    box-shadow: 1px 1px 2px rgba(119, 174, 213, 0.2), -1px -1px 2px rgba(119, 174, 213, 0.2), inset -5px 5px 10px rgba(145, 212, 255, 0.9), inset 5px -5px 10px rgba(119, 174, 213, 0.9), inset -5px -5px 10px rgba(145, 212, 255, 0.3), inset 5px 5px 13px rgba(119, 174, 213, 0.5);
}

.block__content_selection {
    display: flex;
    justify-content: space-between;
    margin: 20px 4px 5px 4px;
}

@media (max-width: 1399px) {
    .block__content_selection {
        margin-top: 17px;
    }
}

@media (max-width: 991px) {
    .block__content_selection {
        margin-top: 13px;
    }
}

@media (max-width: 767px) {
    .block__content_selection {
        margin-top: 16px;
    }
}

@media (max-width: 415px) {
    .block__content_selection {
        margin-top: 12px;
    }
}

.block__content_selection_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: none;

    width: 45%;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px 1px 10px;

    &:disabled {
        opacity: 0.5;
    }
}

@media (max-width: 1399px) {
    .block__content_selection_button {
        height: 34px;
    }
}

@media (max-width: 1199px) {
    .block__content_selection_button {
        height: 30px;
    }
}

@media (max-width: 991px) {
    .block__content_selection_button {
        height: 26px;
    }
}

@media (max-width: 767px) {
    .block__content_selection_button {
        height: 35px;
    }
}

@media (max-width: 415px) {
    .block__content_selection_button {
        height: 32px;
    }
}

.block__content_selection_button.delete {
    background-color: #E84E4E;
    box-shadow: -1.5px 1.5px 3px rgba(197, 66, 66, 0.2), 1.5px -1.5px 3px rgba(197, 66, 66, 0.2), -1.5px -1.5px 3px rgba(245, 82, 82, 0.9), 1.5px 1.5px 5px rgba(197, 66, 66, 0.9), inset 1px 1px 2px rgba(245, 82, 82, 0.3), inset -1px -1px 2px rgba(197, 66, 66, 0.5);
    transition: background-color .1s linear;

    &:hover {
        background-color: rgb(223, 69, 69);
    }

    &:disabled {
        opacity: 0.6;
        &:hover {
            background-color: #E84E4E;
        }
    }
}

.block__content_selection_button.apply {
    background-color: #74CB86;
    box-shadow: -1.5px 1.5px 3px rgba(100, 174, 115, 0.2), 1.5px -1.5px 3px rgba(100, 174, 115, 0.2), -1.5px -1.5px 3px rgba(122, 212, 141, 0.9), 1.5px 1.5px 4px rgba(100, 174, 115, 0.9), inset 1px 1px 2px rgba(122, 212, 141, 0.3), inset -1px -1px 2px rgba(100, 174, 115, 0.5);
    transition: background-color .1s linear;

    &:hover {
        background-color: #71bf81;
    }

    &:disabled {
        opacity: 0.6;
        &:hover {
            background-color: #74CB86;
        }
    }
}

.block__content_selection_img.delete {
    width: 11px;
    height: 14.3px;
}

.block__content_selection_img.apply {
    width: 15px;
    height: 12px;
}

@media (max-width: 1399px) {
    .block__content_selection_img.delete {
        width: 10.5px;
        height: 14.1px;
    }
    
    .block__content_selection_img.apply {
        width: 14px;
        height: 11.5px;
    }
}

@media (max-width: 1199px) {
    .block__content_selection_img.delete {
        width: 9.5px;
        height: 13px;
    }

    .block__content_selection_img.apply {
        width: 13px;
        height: 11px;
    }
}

@media (max-width: 991px) {
    .block__content_selection_img.delete {
        width: 8.7px;
        height: 12px;
    }

    .block__content_selection_img.apply {
        width: 12px;
        height: 10px;
    }
}

@media (max-width: 767px) {
    .block__content_selection_img.delete {
        width: 12px;
        height: 15px;
    }

    .block__content_selection_img.apply {
        width: 12px;
        height: 11px;
    }
}

@media (max-width: 415px) {
    .block__content_selection_img.delete {
        width: 10px;
        height: 14px;
    }

    .block__content_selection_img.apply {
        width: 11.5px;
        height: 10px;
    }
}

.block__content_selection_text {
    font-size: 15px;
    font-weight: 500;
    color: white;
}

@media (max-width: 1399px) {
    .block__content_selection_text {
        font-size: 14.5px;
    }
}

@media (max-width: 1199px) {
    .block__content_selection_text {
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .block__content_selection_text {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .block__content_selection_text {
        font-size: 16px;
    }
}

@media (max-width: 415px) {
    .block__content_selection_text {
        font-size: 15px;
    }
}

/* ------------------------------------ */
.block__inner::-webkit-scrollbar {
    width: 0;
}
