.desk {
    height: auto;
    background: #E0E0E0;
    box-shadow: -7px 7px 14px rgba(197, 197, 197, 0.2), 7px -7px 14px rgba(197, 197, 197, 0.2), -7px -7px 14px rgba(251, 251, 251, 0.9), 7px 7px 18px rgba(197, 197, 197, 0.9), inset 1px 1px 2px rgba(251, 251, 251, 0.3), inset -1px -1px 2px rgba(197, 197, 197, 0.5);
    border-radius: 35px;
    // margin-bottom: 40px;

    position: relative;
}

.margin {
    margin: 50px 10px 0;
}

.block {
    padding: 30px 28px 16px 28px;
    position: relative;
}

.block::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 50vh;

    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(190, 190, 190, 0.5), inset -6px 6px 12px rgba(190, 190, 190, 0.2), inset 6px -6px 12px rgba(190, 190, 190, 0.2), inset -6px -6px 12px rgba(255, 255, 255, 0.9), inset 6px 6px 15px rgba(190, 190, 190, 0.9);
    border-radius: 8px;
    bottom: 80px;
    margin-left: -29px;
}

li:first-child:before {
    display: none;
}

.row-padding {
    padding: 0 28px;
    margin-bottom: 37px;
}

.block__name {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 45px;
    color: #8A8383;
}

/* ------------------------------------ */
.block__inner {
    min-width: 100%;
    height: 60vh;
    overflow: auto;
    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(244, 244, 244, 0.3), -1px -1px 2px rgba(204, 204, 204, 0.5), inset -6px 6px 12px rgba(204, 204, 204, 0.2), inset 6px -6px 12px rgba(204, 204, 204, 0.2), inset -6px -6px 12px rgba(244, 244, 244, 0.9), inset 6px 6px 15px rgba(204, 204, 204, 0.9);
    border-radius: 23px;
    padding-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden
}

.block__inner_todo {
    width: 85%;
    position: relative;

    background: #E0E0E0;
    box-shadow: -5px 5px 8px rgba(199, 199, 199, 0.2), 5px -5px 8px rgba(199, 199, 199, 0.2), -5px -5px 8px rgba(249, 249, 249, 0.9), 5px 5px 10px rgba(199, 199, 199, 0.9), inset 1px 1px 2px rgba(249, 249, 249, 0.3), inset -1px -1px 2px rgba(199, 199, 199, 0.5);
    border-radius: 20px;

    margin: 0 26.5px 25px 26.5px;
}

.block__inner_todo.editMode { 
    border: 2px solid #8A8383;
}

@media (max-width: 1399px) {
    .block__inner_todo {
        margin: 0 22px 22px 22px;
    }

    .block__inner { 
        padding-top: 22px;
    }
}

.block__inner_delete {
    position: relative;
    z-index: 1000;

    margin-left: 90%;
    margin-top: 2px;
    box-sizing: content-box;
    cursor: pointer;
    padding: 4px 4px 4px 4px;
}

.block__inner_delete.editMode {
    padding: 2px 6px 2px 6px;
}

.block__inner_content {
    margin-top: -24px;
}

.block__content {
    display: flex;
    padding: 20px 15px;
}

.block__content.editMode {
    padding: 22px 13px 18px 13px;
}

.block__content_text_area {
    width: 100%;
    height: 100%;
}

.block__content_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    word-break: break-all;

    color: #8A8383;
}

.block__content_input {
    height: auto;
    width: 100%;

    overflow: hidden;
    background-color: #E0E0E0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #8A8383;

    overflow-y: hidden;
    border: none;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.pretty__line {
    min-width: 11px;
    min-height: 24px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 20.5px;
}

.pretty__line.red {
    background: #F98B8B;
    box-shadow: 1px 1px 2px rgba(255, 153, 153, 0.3), -1px -1px 2px rgba(224, 125, 125, 0.5), inset -5px 5px 10px rgba(224, 125, 125, 0.2), inset 5px -5px 10px rgba(224, 125, 125, 0.2), inset -5px -5px 10px rgba(255, 153, 153, 0.9), inset 5px 5px 13px rgba(224, 125, 125, 0.9);
    transition: background-color .1s linear;
    &:hover {
        background-color: #c97070;
    }
}

.pretty__line.purple {
    background: #DC8BF9;
    box-shadow: 1px 1px 2px rgba(242, 153, 255, 0.3), -1px -1px 2px rgba(198, 125, 224, 0.5), inset -5px 5px 10px rgba(198, 125, 224, 0.2), inset 5px -5px 10px rgba(198, 125, 224, 0.2), inset -5px -5px 10px rgba(242, 153, 255, 0.9), inset 5px 5px 13px rgba(198, 125, 224, 0.9);
    transition: background-color .1s linear;
    &:hover {
        background-color: #b370cb;
    }
}

.pretty__line.green {
    background: #74CB87;
    box-shadow: 1px 1px 2px rgba(128, 223, 149, 0.3), -1px -1px 2px rgba(104, 183, 122, 0.5), inset -5px 5px 10px rgba(104, 183, 122, 0.2), inset 5px -5px 10px rgba(104, 183, 122, 0.2), inset -5px -5px 10px rgba(128, 223, 149, 0.9), inset 5px 5px 13px rgba(104, 183, 122, 0.9);
    transition: background-color .1s linear;
    &:hover {
        background-color: #589866;
    }
}

.pretty__line.blue {
    background: #7F7DE1;
    box-shadow: 1px 1px 2px rgba(121, 119, 213, 0.2), -1px -1px 2px rgba(121, 119, 213, 0.2), inset -5px 5px 10px rgba(147, 145, 255, 0.9), inset 5px -5px 10px rgba(121, 119, 213, 0.9), inset -5px -5px 10px rgba(147, 145, 255, 0.3), inset 5px 5px 13px rgba(121, 119, 213, 0.5);
    transition: background-color .1s linear;
    &:hover {
        background-color: #5a59a2;
    }
}

.pretty__line.lightblue {
    background: #7DB7E1;
    box-shadow: 1px 1px 2px rgba(119, 174, 213, 0.2), -1px -1px 2px rgba(119, 174, 213, 0.2), inset -5px 5px 10px rgba(145, 212, 255, 0.9), inset 5px -5px 10px rgba(119, 174, 213, 0.9), inset -5px -5px 10px rgba(145, 212, 255, 0.3), inset 5px 5px 13px rgba(119, 174, 213, 0.5);
    transition: background-color .1s linear;
    &:hover {
        background-color: #3076a7;
    }
}

/* ------------------------------------ */
.block__inner::-webkit-scrollbar {
    width: 0;
}
