.login {
    width: 120px;
    height: 70px;
    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(246, 246, 246, 0.3), -1px -1px 2px rgba(202, 202, 202, 0.5), inset -5px 5px 10px rgba(202, 202, 202, 0.2), inset 5px -5px 10px rgba(202, 202, 202, 0.2), inset -5px -5px 10px rgba(246, 246, 246, 0.9), inset 5px 5px 13px rgba(202, 202, 202, 0.9);
    border-radius: 16px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;
    transition: box-shadow .3s linear;

    &:hover {
        box-shadow: 1px 1px 2px rgba(223, 222, 222, 0.3), -1px -1px 2px rgba(189, 189, 189, 0.5), inset -5px 5px 10px rgba(188, 187, 187, 0.2), inset 5px -5px 10px rgba(187, 187, 187, 0.2), inset -5px -5px 10px rgba(224, 224, 224, 0.9), inset 5px 5px 13px rgba(182, 180, 180, 0.9);
    }
}

@media (max-width: 1399px) {
    .login {
        margin-bottom: -10px;
    }
}

@media (max-width: 1199px) {
    .login {
        width: 110px;
        height: 60px;

        margin-bottom: -17px;
        margin-top: 25px;
        padding: 0 13px 0 12px
    }
}

.login__user_img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #7AD58E;
    box-shadow: -1px 1px 2px rgba(104, 183, 122, 0.2), 1px -1px 2px rgba(104, 183, 122, 0.2), -1px -1px 2px rgba(128, 223, 149, 0.9), 1px 1px 3px rgba(104, 183, 122, 0.9), inset 1px 1px 2px rgba(128, 223, 149, 0.3), inset -1px -1px 2px rgba(104, 183, 122, 0.5);
}

@media (max-width: 1199px) {
    .login__user_img {
        width: 40px;
        height: 40px;
    }
}

.login__user_leter {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.login__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .login__icon {
        width: 35px;
        height: 35px;
    }
}