.form {
    width: 500px;
    height: auto;

    background: #E0E0E0;
    box-shadow: -7px 7px 14px rgba(197, 197, 197, 0.2), 7px -7px 14px rgba(197, 197, 197, 0.2), -7px -7px 14px rgba(251, 251, 251, 0.9), 7px 7px 18px rgba(197, 197, 197, 0.9), inset 1px 1px 2px rgba(251, 251, 251, 0.3), inset -1px -1px 2px rgba(197, 197, 197, 0.5);
    border-radius: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__container {
    width: 70%;
    height: auto;
}

.form_container-modalWindow {
    width: 83%;
}

.login__form_name {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #8A8383;
    font-family: 'Roboto', sans-serif;

    padding: 52px 0 45px;
}

.login__form_data_name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #8A8383;
    font-family: 'Roboto', sans-serif;

    margin: 22px 0 14px;
}

.form__input_holder {
    background: #E0E0E0;

    box-shadow: -3px 3px 4px rgba(199, 199, 199, 0.2), 3px -3px 4px rgba(199, 199, 199, 0.2), -3px -3px 4px rgba(249, 249, 249, 0.9), 3px 3px 6px rgba(199, 199, 199, 0.9), inset 1px 1px 2px rgba(249, 249, 249, 0.3), inset -1px -1px 2px rgba(199, 199, 199, 0.5);

    border-radius: 16px;

    padding: 6px;
    margin: 0 0 8px 0;
}

.form__input_holder.margin {
    margin-bottom: 30px;
}

.form__input_holder.error-holder {
    background: #EC7676;
    box-shadow: -3px 3px 4px rgba(212, 106, 106, 0.2), 3px -3px 4px rgba(212, 106, 106, 0.2), -3px -3px 4px rgba(255, 130, 130, 0.9), 3px 3px 6px rgba(212, 106, 106, 0.9), inset 1px 1px 2px rgba(255, 130, 130, 0.3), inset -1px -1px 2px rgba(212, 106, 106, 0.5);
}

.form__input {
    height: 47px;
    width: 100%;

    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(246, 246, 246, 0.3), -1px -1px 2px rgba(202, 202, 202, 0.5), inset -3px 3px 4px rgba(202, 202, 202, 0.2), inset 3px -3px 4px rgba(202, 202, 202, 0.2), inset -3px -3px 4px rgba(246, 246, 246, 0.9), inset 3px 3px 6px rgba(202, 202, 202, 0.9);
    border-radius: 14px;

    outline: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;

    padding: 9px 14px 11px 14px;
    font-size: 18px;
    color: #918f8f;
}

.form__input.error-input {
    background: #EC7676;
    box-shadow: 1px 1px 2px rgba(255, 130, 130, 0.3), -1px -1px 2px rgba(212, 106, 106, 0.5), inset -3px 3px 4px rgba(212, 106, 106, 0.2), inset 3px -3px 4px rgba(212, 106, 106, 0.2), inset -3px -3px 4px rgba(255, 130, 130, 0.9), inset 3px 3px 6px rgba(212, 106, 106, 0.9);
    color: #ebe9e9;
}

.error__message {
    display: flex;
    justify-content: flex-end;
    height: 1px;
}

.error__message_text {
    color: #EC7676;
    font-size: 15px;
}

.error__message_text.top {
    margin-top: -22px;
}
.error__message_text.tasks {
    font-weight: 500;
    font-size: 12px;
    margin-top: 1px;
}

.form__input.textarea {
    height: 120px;
    resize: none;
}

.form__input-textarea::-webkit-scrollbar {
    width: 0;
}

// .form__input-textarea::-webkit-scrollbar-track {
//     background: #d4d4d4;
//     box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
//     border-radius: 20px;
// }

// .form__input-textarea::-webkit-scrollbar-thumb {
//     background: #939393;
//     border-radius: 8px;
// }

// .form__input-textarea::-webkit-scrollbar-thumb:hover {
//     background: #7c7c7c;
// }

.login__form_remember {
    display: flex;
    align-items: center;
    margin-top: 9px;
}

/*----toggle_noActive---- */
.css-stmgjb {
    box-shadow: none !important;
    background: none !important;
    width: auto !important;
    height: auto !important;
    position: static !important;
    margin: 0 !important;

    box-shadow: -1px 1px 1px rgba(199, 199, 199, 0.2), 1px -1px 1px rgba(199, 199, 199, 0.2), -1px -1px 1px rgba(249, 249, 249, 0.9), 1px 1px 3px rgba(199, 199, 199, 0.9), inset 1px 1px 1px rgba(249, 249, 249, 0.3), inset -1px -1px 1px rgba(199, 199, 199, 0.5) !important;
}

.css-1mngnt6 {
    background: #E0E0E0 !important;
    border: 2.5px solid #E0E0E0 !important;

    box-shadow: 1px 1px 1px rgba(246, 246, 246, 0.3), -1px -1px 1px rgba(202, 202, 202, 0.5), inset -1px 1px 1px rgba(202, 202, 202, 0.2), inset 1px -1px 1px rgba(202, 202, 202, 0.2), inset -1px -1px 1px rgba(246, 246, 246, 0.9), inset 1px 1px 3px rgba(202, 202, 202, 0.9) !important;
    height: 28px !important;
    width: 46px !important;
}

.css-1mngnt6::after {
    background: #E0E0E0 !important;
    box-shadow: -1px 1px 1px rgba(202, 202, 202, 0.2), 1px -1px 1px rgba(202, 202, 202, 0.2), -1px -1px 1px rgba(246, 246, 246, 0.9), 1px 1px 1.5px rgba(202, 202, 202, 0.9), inset 1px 1px 1px rgba(246, 246, 246, 0.3), inset -1px -1px 1px rgba(202, 202, 202, 0.5) !important;

    top: 3px !important;
    left: 3.5px !important;
    width: 18px !important;
    height: 18px !important;
}

.css-1mngnt6::before {
    background: #8A8383 !important;
    top: 9.5px !important;
    left: 9.5px !important;
    width: 4.5px !important;
    height: 4.5px !important;
}
/*--------------------- */

/*----toggle_Active---- */
.css-hqpog9 {
    background: #E0E0E0 !important;
    border: 2.5px solid #E0E0E0 !important;

    box-shadow: 1px 1px 1px rgba(246, 246, 246, 0.3), -1px -1px 1px rgba(202, 202, 202, 0.5), inset -1px 1px 1px rgba(202, 202, 202, 0.2), inset 1px -1px 1px rgba(202, 202, 202, 0.2), inset -1px -1px 1px rgba(246, 246, 246, 0.9), inset 1px 1px 3px rgba(202, 202, 202, 0.9) !important;
    height: 28px !important;
    width: 46px !important;
}

.css-hqpog9::after {
    background: #E0E0E0 !important;
    box-shadow: -1px 1px 1px rgba(202, 202, 202, 0.2), 1px -1px 1px rgba(202, 202, 202, 0.2), -1px -1px 1px rgba(246, 246, 246, 0.9), 1px 1px 1.5px rgba(202, 202, 202, 0.9), inset 1px 1px 1px rgba(246, 246, 246, 0.3), inset -1px -1px 1px rgba(202, 202, 202, 0.5) !important;

    top: 3px !important;
    left: 19.5px !important;
    width: 18px !important;
    height: 18px !important;
}

.css-hqpog9::before {
    top: 9.5px !important;
    left: 26px !important;
    width: 4.5px !important;
    height: 4.5px !important;

    background: #FF9292 !important;
    box-shadow: -1px 1px 2px rgba(217, 124, 124, 0.2), 1px -1px 2px rgba(217, 124, 124, 0.2), -1px -1px 2px rgba(255, 168, 168, 0.9), 1px 1px 2.5px rgba(217, 124, 124, 0.9), inset 0.5px 0.5px 1px rgba(255, 168, 168, 0.3), inset -0.5px -0.5px 1px rgba(217, 124, 124, 0.5) !important;
}
/*--------------------- */

.login__form_remember_text {
    color: #8A8383;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    padding-left: 10px;
}

.login__form_new {
    color: #8A8383;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin-bottom: 4px;  
}

.login__form_new-mb {
    margin-bottom: 55px;
}

.login__form_register {
    color: #8D8BF9;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}


/*-----placeholder----- */
::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 18px;
    color: #BCBCBC;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.error-input::-webkit-input-placeholder {
    color: #ebe9e9;
}

::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 18px;
    color: #BCBCBC;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.error-input::-moz-placeholder {
    color: #ebe9e9;
}

:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 18px;
    color: #BCBCBC;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.error-input:-moz-placeholder {
    color: #ebe9e9;;
}

:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 18px;
    color: #BCBCBC;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.error-input:-ms-input-placeholder {
    color: #ebe9e9;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
/*--------------------- */
