.modalWindow {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(224, 224, 224, 0.4);
    backdrop-filter: blur(7px);
}

.modalWindow_content {
    position: relative;
    width: 500px;
    height: auto;

    background: #E0E0E0;
    box-shadow: -5px 5px 10px rgba(199, 199, 199, 0.2), 5px -5px 10px rgba(199, 199, 199, 0.2), -5px -5px 10px rgba(249, 249, 249, 0.9), 5px 5px 13px rgba(199, 199, 199, 0.9), inset 1px 1px 2px rgba(249, 249, 249, 0.3), inset -1px -1px 2px rgba(199, 199, 199, 0.5);
    border-radius: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalWindow__text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #8A8383;

    padding: 37px 0 27px;
}

.modalWindow__text-description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #8A8383;

    margin: 22px 0 13px;
}

.button__big {
    width: 100%;
    height: 42px;
    background: linear-gradient(135deg, #FF9292 0%, #EA8484 100%);
    box-shadow: -2px 2px 5px rgba(221, 125, 125, 0.2), 2px -2px 5px rgba(221, 125, 125, 0.2), -2px -2px 5px rgba(255, 153, 153, 0.9), 2px 2px 6px rgba(221, 125, 125, 0.9), inset 1px 1px 2px rgba(255, 153, 153, 0.3), inset -1px -1px 2px rgba(221, 125, 125, 0.5);
    border-radius: 20px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #E1E1E1;

    position: relative;
}

.button__big-green {
    background: linear-gradient(135deg, #7AD58E 0%, #6EC180 100%);
    box-shadow: -3px 3px 5px rgba(104, 183, 122, 0.2), 3px -3px 5px rgba(104, 183, 122, 0.2), -3px -3px 5px rgba(128, 223, 149, 0.9), 3px 3px 6px rgba(104, 183, 122, 0.9), inset 1px 1px 2px rgba(128, 223, 149, 0.3), inset -1px -1px 2px rgba(104, 183, 122, 0.5);
    margin: 45px 0;
}

.button__big-green-mr {
    margin: 25px 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 2px;
    width: 40px;
    height: 40px;
}

:root {
    --transitionTimingFunction: ease;
    --transitionDuration: 0.2s;
}

.close__button {
    position: relative;
    --size: 30px;
    --heightLine: 3.4px;
    --colorLine: #8A8383;
    --scale: 0.8;
    --backgroundColor: #E0E0E0;
    width: var(--size);
    height: var(--size);
    overflow: hidden;
    outline: none;
    user-select: none;
    cursor: pointer;

    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
    transition-property: background-color;

    &:hover {
        --colorLine: #636161;
    }
}

.close__button::before,
.close__button::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colorLine);
    width: calc(var(--scale) * 100%);
    height: var(--heightLine);
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
    transition-property: transform, background-color;
    border-radius: 40px;
}

.close__button::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close__button::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

