.block__line {
    border-bottom: 4px solid #E0E0E0;
    width: 85%;
    margin: 0 auto;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(190, 190, 190, 0.5), inset -6px 6px 12px rgba(190, 190, 190, 0.2), inset 6px -6px 12px rgba(190, 190, 190, 0.2), inset -6px -6px 12px rgba(255, 255, 255, 0.9), inset 6px 6px 15px rgba(190, 190, 190, 0.9);
    border-radius: 4px;
}

.block__priority {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin: 12px 0;
    width: 70%;
    height: 32px;
    border-radius: 20px;
}

.block__button.big {
    display: block;
    cursor: pointer;
    margin: 0;

    width: 100%;
    height: 42px;
    border-radius: 20px;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #E1E1E1;

    position: relative;
}

.block__button.submit {
    background-color: #7AD58E;
    box-shadow: -2px 2px 4px rgba(104, 183, 122, 0.2), 2px -2px 4px rgba(104, 183, 122, 0.2), -2px -2px 4px rgba(128, 223, 149, 0.9), 2px 2px 5px rgba(104, 183, 122, 0.9), inset 1px 1px 2px rgba(128, 223, 149, 0.3), inset -1px -1px 2px rgba(104, 183, 122, 0.5);
    margin: 25px 0;
    transition: background-color .1s linear;

    &:hover {
        background-color: #76ca88;
    }

    &:disabled {
        opacity: 0.5;
    }
}
.block__button.demo {
    width: 200px;
    height: 55px;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
    text-decoration: none !important;
}

.block__button.mr1 {
    margin: 10px 0 15px;
    width: 92%;
    height: 37px;
    font-size: 17px;
}

.block__button.mr2 {
    margin: 35px 0 55px 0;
}

.block__button.mb {
    margin-bottom: 35px;
}

.block__button.purple {
    background-color:#E792FF;
    box-shadow: -2px 2px 4px rgba(198, 125, 221, 0.2), 2px -2px 4px rgba(198, 125, 221, 0.2), -2px -2px 4px rgba(242, 153, 255, 0.9), 2px 2px 5px rgba(198, 125, 221, 0.9), inset 1px 1px 2px rgba(242, 153, 255, 0.3), inset -1px -1px 2px rgba(198, 125, 221, 0.5);

    transition: background-color .1s linear;
    &:hover {
        background-color: #df8ef6;
    }
}

.block__button.red {
    background-color: #FF9292;
    box-shadow: -2px 2px 4px rgba(221, 125, 125, 0.2), 2px -2px 4px rgba(221, 125, 125, 0.2), -2px -2px 4px rgba(255, 153, 153, 0.9), 2px 2px 5px rgba(221, 125, 125, 0.9), inset 1px 1px 2px rgba(255, 153, 153, 0.3), inset -1px -1px 2px rgba(221, 125, 125, 0.5);

    transition: background-color .1s linear;
    &:hover {
        background-color: #f48989;
    }
}

.block__button.green {
    background-color: #7AD58E;
    box-shadow: -2px 2px 4px rgba(104, 183, 122, 0.2), 2px -2px 4px rgba(104, 183, 122, 0.2), -2px -2px 4px rgba(128, 223, 149, 0.9), 2px 2px 5px rgba(104, 183, 122, 0.9), inset 1px 1px 2px rgba(128, 223, 149, 0.3), inset -1px -1px 2px rgba(104, 183, 122, 0.5);

    transition: background-color .1s linear;
    &:hover {
        background-color: #76ca88;
    }
}

.block__button.blue {
    background-color:#8D8BF9;
    box-shadow: -2px 2px 4px rgba(121, 119, 213, 0.2), 2px -2px 4px rgba(121, 119, 213, 0.2), -2px -2px 4px rgba(147, 145, 255, 0.9), 2px 2px 5px rgba(121, 119, 213, 0.9), inset 1px 1px 2px rgba(147, 145, 255, 0.3), inset -1px -1px 2px rgba(121, 119, 213, 0.5);

    transition: background-color .1s linear;
    &:hover {
        background-color: #8684ee;
    }
}

.block__button.lightblue {
    background-color:#8BCBF9;
    box-shadow: -2px 2px 4px rgba(119, 174, 213, 0.2), 2px -2px 4px rgba(119, 174, 213, 0.2), -2px -2px 4px rgba(145, 212, 255, 0.9), 2px 2px 5px rgba(119, 174, 213, 0.9), inset 1px 1px 2px rgba(145, 212, 255, 0.3), inset -1px -1px 2px rgba(119, 174, 213, 0.5);

    transition: background-color .1s linear;
    &:hover {
        background-color: #86c4f0;
    }
}

.block__button_text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #E1E1E1;
}