.register__form_name {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #8A8383;
    font-family: 'Roboto', sans-serif;

    padding: 52px 0 45px;
}

.button__big-green-register {
    margin: 35px 0 55px 0;
}