.block__status-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.block__status-inner.active {
    width: 85%;
}

.block__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.block__status_name {
    padding-bottom: 7px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 41px;

    color: #8A8383;
    overflow: hidden; /* Обрезаем содержимое */
    transition: margin .1s linear;
    cursor: pointer;
}

.block__status_name.active {
    padding: 0 10px 7px 4px;
}
//////////////////////////////////////////////////////////////
@media (max-width: 1399px) {
    .block__status_name {
        font-size: 35px;
        padding-bottom: 6px;
    }

    .block__status_name.active {
        padding: 0 8px 6px 4px;
    }
}

@media (max-width: 1199px) {
    .block__status_name {
        font-size: 32px;
    }
}

@media (max-width: 991px) {
    .block__status_name {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .block__status_name {
        font-size: 34px;
    }
}

@media (max-width: 460px) {
    .block__status_name {
        font-size: 32px;
    }
}

@media (max-width: 415px) {
    .block__status_name {
        font-size: 31px;
    }
}
//////////////////////////////////////////////////////////////////////

.block__status_edit {
    width: 100%;
    height: 54px;
    margin: -7px 0 1px 0;
    padding: 2px;

    background: linear-gradient(135deg, #E4E4E4 0%, #CECECE 100%);
    box-shadow: -2px 2px 5px rgba(195, 195, 195, 0.2), 2px -2px 5px rgba(195, 195, 195, 0.2), -2px -2px 5px rgba(239, 239, 239, 0.9), 2px 2px 10px rgba(195, 195, 195, 0.9), inset 1px 1px 2px rgba(239, 239, 239, 0.3), inset -1px -1px 2px rgba(195, 195, 195, 0.5);
    border-radius: 8px;
}

@media (max-width: 1399px) {
    .block__status_edit {
        height: 50px;
        margin: -9px 0 0 0;
    }
}

@media (max-width: 1199px) {
    .block__status_edit {
        height: 45px;
        margin-top: -7px;
    }
}

@media (max-width: 991px) {
    .block__status_edit {
        height: 37px;
        margin: -7px 0 2px 0;
    }
}

@media (max-width: 767px) {
    .block__status_edit {
        height: 48px;
        margin: -8.5px 0 0.5px 0;
    }
}

@media (max-width: 460px) {
    .block__status_edit {
        height: 45px;
        margin: -7.5px 0 0.5px 0;
    }
}

@media (max-width: 415px) {
    .block__status_edit {
        height: 43px;
        margin: -8px 0 2px 0;
    }
}
/////////////////////////////////////////////////////////////////
.edit__inner {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, #F45252 50%, #80E095 50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__inner_input {
    width: 100%;
    height: 100%;
    padding: 3px 3px 2px 3px;

    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(246, 246, 246, 0.3), -1px -1px 2px rgba(202, 202, 202, 0.5), inset -3px 3px 6px rgba(202, 202, 202, 0.2), inset 3px -3px 6px rgba(202, 202, 202, 0.2), inset -3px -3px 6px rgba(246, 246, 246, 0.9), inset 3px 3px 8px rgba(202, 202, 202, 0.9);
    border-radius: 15px;

    outline: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 41px;
    color: #8A8383;
    text-align: center;
    font-family: 'Roboto';

    line-height: normal;
}

@media (max-width: 1399px) {
    .edit__inner_input {
        font-size: 35px;
        padding: 4px 3px 2px 3px;
    }
}

@media (max-width: 1199px) {
    .edit__inner_input {
        font-size: 32px;
    }
}

@media (max-width: 991px) {
    .edit__inner_input {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .edit__inner_input {
        font-size: 34px;
    }
}

@media (max-width: 460px) {
    .edit__inner_input {
        font-size: 32px;
    }
}

@media (max-width: 415px) {
    .edit__inner_input {
        font-size: 31px;
    }
}

////////////////////////////////////////////////

.edit__inner_btn {
    padding: 9px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #80E095;
}

@media (max-width: 1199px) {
    .edit__inner_btn {
        padding: 6px;
        margin: 5px;
    }
}

@media (max-width: 991px) {
    .edit__inner_btn {
        margin: 2px;
    }
}

@media (max-width: 767px) {
    .edit__inner_btn {
        padding: 10px;
        margin: 0 8px;
    }
}

@media (max-width: 767px) {
    .edit__inner_btn {
        padding: 7px;
        margin: 0 6px;
    }
}

.edit__inner_btn.red {
    background: #F45252;
}

.edit__photo {
    width: 15px;
    height: 14px;
}

@media (max-width: 1199px) {
    .edit__photo {
        width: 14px;
        height: 12px;
    }
}

@media (max-width: 991px) {
    .edit__photo {
        width: 11px;
        height: 11px;
    }
}

@media (max-width: 767px) {
    .edit__photo {
        width: 14px;
        height: 13px;
    }
}

@media (max-width: 460px) {
    .edit__photo {
        width: 13px;
        height: 12px;
    }
}
////////////////////////////////////////////////////
.edit__inner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    position: relative;
    z-index: 1;
}