.demo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px 0 0 0;
}

@media (max-width: 1399px) {
    .demo {
        margin: 30px 0 0 0;
    }
}

@media (max-width: 1199px) {
    .demo {
        margin: 25px 0 0 0;
    }
}

@media (max-width: 415px) {
    .demo {
        margin: 20px 0 0 0;
    }
}

@media (max-height: 800px) {
    .demo {
        margin: 20px;
    }
}

@media (max-height: 800px) {
    @media (max-width: 767px) {
        .demo {
            margin: 18px 0;
        }
    }
}

.demo__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    color: #B9ADAD;

    margin: -6px 0 30px 50px
}

@media (max-width: 1399px) {
    .demo__description {
        font-size: 24px;
    }
}

@media (max-width: 1199px) {
    .demo__description {
        font-size: 21.5px;
        margin: -10px 0 23px 50px
    }
}

@media (max-width: 991px) {
    .demo__description {
        font-size: 19px;
        margin: -20px 50px 20px 50px
    }
}

@media (max-width: 767px) {
    .demo__description {
        margin: -23px 75px 20px 42px
    }
}

@media (max-width: 415px) {
    .demo__description {
        font-size: 19px;
        margin: -20px 64px 20px 28px
    }
}

@media (max-height: 800px) {
    .demo__description {
        margin: -20px 70px 23px 50px
    }
}

.demo__center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 72.4vh;
}

.demo__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
    color: #B9ADAD;
    margin-bottom: 23px;
}

@media (max-width: 1199px) {
    .demo__text {
        font-size: 36px;
    }
}

@media (max-width: 991px) {
    .demo__text {
        font-size: 30px;
    }
}

.static {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 57px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 24px;
    color: #8A8383;

    background: #E0E0E0;
    box-shadow: 1px 1px 2px rgba(246, 246, 246, 0.3), -1px -1px 2px rgba(202, 202, 202, 0.5), inset -5px 5px 10px rgba(202, 202, 202, 0.2), inset 5px -5px 10px rgba(202, 202, 202, 0.2), inset -5px -5px 10px rgba(246, 246, 246, 0.9), inset 5px 5px 13px rgba(202, 202, 202, 0.9);
    border-radius: 15px;
    margin-right: 20px;
}

@media (max-width: 1399px) {
    .static {
        width: 253px;
        height: 52px;
        font-size: 31px;
    }
}

@media (max-width: 1199px) {
    .static {
        width: 220px;
        height: 48px;
        font-size: 27px;
    }
}

@media (max-width: 991px) {
    .static {
        width: 190px;
        height: 40px;
        font-size: 24px;

        border-radius: 12px;
    }
}

@media (max-width: 767px) {
    .static {
        width: 220px;
        height: 44px;
        font-size: 26px;
    }
}

@media (max-width: 460px) {
    .static {
        width: 200px;
        height: 38px;
        font-size: 21px;
    }
}

@media (max-width: 415px) {
    .static {
        width: 180px;
        height: 37px;
        font-size: 21px;
    }
}

.demo__email_confirmed {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.4;

    color: #8A8383;
    margin: 18px 15px 10px 15px;
}

@media (max-width: 767px) {
    .demo__email_confirmed {
        margin: 12px 15px 10px 15px;
    }
}